In [190]:
# monographs 
#files in raw folder
import pandas as pd
import re

df1=pd.read_csv('raw/print_mono_hathitrust_1.txt', sep='\t')
df2=pd.read_csv('raw/print_mono_hathitrust_2.txt', sep='\t')
df3=pd.read_csv('raw/print_mono_hathitrust_3.txt', sep='\t')

df1=df1[['35','RECORD #(BIBLIO)','BCODE3','BLIO)","VOLUME"','GOVT DOC #']]
df2=df2[['35','RECORD #(BIBLIO)','BCODE3','BLIO)","VOLUME"','GOVT DOC #']]
df3=df3[['35','RECORD #(BIBLIO)','BCODE3','BLIO)","VOLUME"','GOVT DOC #']]

frames = [df1, df2, df3]

df = pd.concat(frames)



print('-'*50)
print('Before cleanup')
print('-'*50)
df.info()
# run this only for serials 

df=df[['35','RECORD #(BIBLIO)','BCODE3','BLIO)","VOLUME"','GOVT DOC #']]


df['35']=df['35'].astype('str')
df['35']=df['35'].apply(clean035)
print('-'*50)
print('Before removing the record without 035')
print('-'*50)
df.info()

df=df[df['35']!='']
print('-'*50)
print("After removing the record without 035")
print('-'*50)
df.info()

#CODE BCODE 3 according to instruction from Hathitrust
df['BCODE3']=df['BCODE3'].replace({'-':'CH','w':'WD'}) 

df.columns=['OCLC#',"Partner's Local System ID","Holding Status","Numeration and Chronology","Gov Doc Indicator"]

print(df.groupby(['Holding Status'])["Partner's Local System ID"].count())

# only need CH and WD 
print("-"*50)
print("Number with only Current Holdings and Withdrawn")
print("-"*50)
df=pd.concat([df[df['Holding Status']=='CH'],df[df['Holding Status']=='WD']])
print(df.groupby(['Holding Status'])["Partner's Local System ID"].count())


# set np.nan
import numpy as np
df.fillna(value=pd.np.nan, inplace=True)
df=df.replace('', np.nan) 
df.replace('nan',np.nan,inplace=True)

df.info()
print("-"*50)
print("After final cleanup, remove 'n', remove the one with length less than 6 ")
print('-'*50)
#df=df[df['OCLC#']!='n']

df=df[df['OCLC#'].str.len()>6]
df.info()

--------------------------------------------------
Before cleanup
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 468932 entries, 0 to 68931
Data columns (total 5 columns):
35                  261911 non-null object
RECORD #(BIBLIO)    468932 non-null object
BCODE3              468932 non-null object
BLIO)","VOLUME"     460552 non-null object
GOVT DOC #          6814 non-null object
dtypes: object(5)
memory usage: 21.5+ MB
--------------------------------------------------
Before removing the record without 035
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 468932 entries, 0 to 68931
Data columns (total 5 columns):
35                  468932 non-null object
RECORD #(BIBLIO)    468932 non-null object
BCODE3              468932 non-null object
BLIO)","VOLUME"     460552 non-null object
GOVT DOC #          6814 non-null object
dtypes: object(5)
memory usage: 21.5+ MB
--------------------------------------------------
After removing the record without 035
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 429754 entries, 0 to 68931
Data columns (total 5 columns):
35                  429754 non-null object
RECORD #(BIBLIO)    429754 non-null object
BCODE3              429754 non-null object
BLIO)","VOLUME"     421604 non-null object
GOVT DOC #          5936 non-null object
dtypes: object(5)
memory usage: 19.7+ MB
Holding Status
           1
CH    419552
WD       706
b         39
c       3119
f         12
r       1221
s         74
x       5030
Name: Partner's Local System ID, dtype: int64
--------------------------------------------------
Number with only Current Holdings and Withdrawn
--------------------------------------------------
Holding Status
CH    419552
WD       706
Name: Partner's Local System ID, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 420258 entries, 0 to 68778
Data columns (total 5 columns):
OCLC#                        420258 non-null object
Partner's Local System ID    420258 non-null object
Holding Status               420258 non-null object
Numeration and Chronology    419359 non-null object
Gov Doc Indicator            5897 non-null object
dtypes: object(5)
memory usage: 19.2+ MB
--------------------------------------------------
After final cleanup, remove 'n'
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 211358 entries, 0 to 68075
Data columns (total 5 columns):
OCLC#                        211358 non-null object
Partner's Local System ID    211358 non-null object
Holding Status               211358 non-null object
Numeration and Chronology    210784 non-null object
Gov Doc Indicator            4092 non-null object
dtypes: object(5)
memory usage: 9.7+ MB

In [182]:
df1.head(3)

,Unnamed: 0,35,RECORD #(BIBLIO),BCODE3,ISN,GOVT DOC #,rec_no,"BLIO)"",""VOLUME"""
0,0,85332778,b1284522x,-,0870732293 (hard),NaN,b1284522x,""""""
1,1,85332784,b12845231,-,NaN,NaN,b12845231,""""""
2,2,85332787,b12845243,-,NaN,NaN,b12845243,""""""

In [178]:
#serials

# regex 
import pandas as pd
import re

df=pd.read_excel('data/print_bib_lvl_s.xls')
df.head()

print('-'*50)
print('Before cleanup')
print('-'*50)
df.info()
# run this only for serials 

df=df[['35','RECORD #(BIBLIO)','BCODE3','Volume','ISN','GOVT DOC #']]


df['35']=df['35'].astype('str')
df['35']=df['35'].apply(clean035)
print('-'*50)
print('Before removing the record without 035')
print('-'*50)
df.info()

df=df[df['35']!='']
print('-'*50)
print("After removing the record without 035")
print('-'*50)
df.info()

#CODE BCODE 3 according to instruction from Hathitrust
df['BCODE3']=df['BCODE3'].replace({'-':'CH','w':'WD'}) 

df.columns=['OCLC#',"Partner's Local System ID","Holding Status","Numeration and Chronology","ISSN","Gov Doc Indicator"]

print(df.groupby(['Holding Status'])["Partner's Local System ID"].count())

# only need CH and WD 
print("-"*50)
print("Number with only Current Holdings and Withdrawn")
print("-"*50)
df=pd.concat([df[df['Holding Status']=='CH'],df[df['Holding Status']=='WD']])
print(df.groupby(['Holding Status'])["Partner's Local System ID"].count())


# set np.nan
import numpy as np
df.fillna(value=pd.np.nan, inplace=True)
df=df.replace('', np.nan) 
df.replace('nan',np.nan,inplace=True)

df.info()
print("-"*50)
print("After final cleanup, remove 'n'")
print('-'*50)
df=df[df['OCLC#']!='n']
df.info()

--------------------------------------------------
Before cleanup
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7819 entries, 0 to 7818
Data columns (total 8 columns):
Column1             7819 non-null int64
35                  6678 non-null object
RECORD #(BIBLIO)    7819 non-null object
BCODE3              7819 non-null object
ISN                 5675 non-null object
GOVT DOC #          393 non-null object
rec_no              7819 non-null object
Volume              7819 non-null object
dtypes: int64(1), object(7)
memory usage: 488.8+ KB
--------------------------------------------------
Before removing the record without 035
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7819 entries, 0 to 7818
Data columns (total 6 columns):
35                  7819 non-null object
RECORD #(BIBLIO)    7819 non-null object
BCODE3              7819 non-null object
Volume              7819 non-null object
ISN                 5675 non-null object
GOVT DOC #          393 non-null object
dtypes: object(6)
memory usage: 366.6+ KB
--------------------------------------------------
After removing the record without 035
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7000 entries, 0 to 7818
Data columns (total 6 columns):
35                  7000 non-null object
RECORD #(BIBLIO)    7000 non-null object
BCODE3              7000 non-null object
Volume              7000 non-null object
ISN                 5244 non-null object
GOVT DOC #          315 non-null object
dtypes: object(6)
memory usage: 382.8+ KB
Holding Status
CH    6817
WD      35
c       81
s        6
x       61
Name: Partner's Local System ID, dtype: int64
--------------------------------------------------
Number with only Current Holdings and Withdrawn
--------------------------------------------------
Holding Status
CH    6817
WD      35
Name: Partner's Local System ID, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6852 entries, 0 to 7503
Data columns (total 6 columns):
OCLC#                        6852 non-null object
Partner's Local System ID    6852 non-null object
Holding Status               6852 non-null object
Numeration and Chronology    6852 non-null object
ISSN                         5176 non-null object
Gov Doc Indicator            314 non-null object
dtypes: object(6)
memory usage: 374.7+ KB
--------------------------------------------------
After final cleanup, remove 'n'
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5785 entries, 0 to 7503
Data columns (total 6 columns):
OCLC#                        5785 non-null object
Partner's Local System ID    5785 non-null object
Holding Status               5785 non-null object
Numeration and Chronology    5785 non-null object
ISSN                         4593 non-null object
Gov Doc Indicator            239 non-null object
dtypes: object(6)
memory usage: 316.4+ KB

In [158]:
df.sample(20)

,OCLC#,Partner's Local System ID,Holding Status,Numeration and Chronology,ISSN,Gov Doc Indicator
4638,05018346,b12108765,CH,"""1978"",""1981"",""1985"",""1987"",""1988"",""1992""",0706-7143,NaN
7541,n,b20247266,CH,"""v. 1""",NaN,NaN
5339,"90657474 ,(OCoLC)20765089",b12185243,CH,"""1989-90"",""1990-91"",""1991-92"",""1992-93"",""1993-...",NaN,NaN
1025,(OCoLC)2807178,b12234394,CH,"""v.21 (1977) - v.59:no.11 (November 2015)"",""v....",0145-9406,NaN
1219,(OCoLC)1553156,b12237498,CH,"""v.1:no.1 (Mar. 1968) - v.38:no.4 (Dec. 2005)""",0008-4239,NaN
5075,(OCoLC)18630667,b12106082,CH,"""1986"",""1989"",""1990""",0839-8917,NaN
4082,85335338,b13323441,CH,"""1938"",""1939"",""1939"",""1940"",""1941"",""1942"",""194...",NaN,NaN
2038,(OCoLC)3316919,b12369639,CH,"""v.26:no.1 (1979) -"",""v.32:no.1 (1985) - v.37:...",0049-3155,NaN
7210,n,b19247862,CH,"""2007-08""",1915-6731,NaN
7687,"1174657,31my83et[]",b12392947,CH,"""v. 14 No. 2"",""v. 16 No. 1"",""v. 16 No. 6""",NaN,NaN
3257,ocm05255632,b16998339,CH,"""1.1 4-8 1-4 1982-1987"",""1.1 5 1983"",""1.3 7 1985""",0379-0797,NaN
903,(OCoLC)4901738,b12232403,CH,"""v.83:no.1 (Jan. 1976) - v.118:no.4 (Oct. 1993...",0030-0128,NaN
3401,ocm70687971,b17120056,CH,"""1.1 23-25 2-2 2005-2007 23-23""",0739-7011,NaN
1662,"sf 85009808,(OCoLC)6492703",b12283605,CH,"""1976 to the present"",""1976 to the present."",""...",0293-9274,NaN
5862,M,b12353735,CH,"""1994""",NaN,NaN
3877,"ocn651063829,(OCoLC)651063829",b20260829,CH,"""1.1 1-4 1-1 2010-2013 10-10""",2156-7050,NaN
5156,"89646237,(OCoLC)20349402",b1215507x,CH,"""1987-88"",""1988-89"",""1989-90"",""1990-91"",""1991-92""",0840-7193,NaN
2757,ocm14250330,b13508866,CH,"""v.10:no.8 (May 1972) - v.12:no.1 (Oct. 1973)""...",0020-6113,NaN
2989,n,b14233538,CH,"""no.1(July 1978)-no.12(Mar. 1981)""",NaN,NaN
1849,"000006209059,(OCoLC)ocm14956118",b12306186,CH,"""v.14:no.1 (Feb. 1986) - v.28:no.1 (Dec.1999/J...",0830-1921,NaN

In [34]:
df2.head(3)

,Unnamed: 0,35,RECORD #(BIBLIO),BCODE3,ISN,GOVT DOC #,rec_no,"BLIO)"",""VOLUME"""
0,0,85332778,b1284522x,-,0870732293 (hard),NaN,b1284522x,""""""
1,1,85332784,b12845231,-,NaN,NaN,b12845231,""""""
2,2,85332787,b12845243,-,NaN,NaN,b12845243,""""""

In [35]:
df3.head(3)

,Unnamed: 0,35,RECORD #(BIBLIO),BCODE3,ISN,GOVT DOC #,rec_no,"BLIO)"",""VOLUME"""
0,0,NaN,b20440066,-,"9781407307213 (pbk.),""1407307215 (pbk.)""",NaN,b20440066,""""""
1,1,NaN,b20440078,-,"9780199548088 (pbk.),""0199548080 (pbk.)""",NaN,b20440078,""""""
2,2,NaN,b2044008x,-,"0817313893 (cloth : alk. paper),""9780817354909""",NaN,b2044008x,""""""

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7819 entries, 0 to 7818
Data columns (total 8 columns):
Column1             7819 non-null int64
35                  6678 non-null object
RECORD #(BIBLIO)    7819 non-null object
BCODE3              7819 non-null object
ISN                 5675 non-null object
GOVT DOC #          393 non-null object
rec_no              7819 non-null object
Volume              7819 non-null object
dtypes: int64(1), object(7)
memory usage: 488.8+ KB

In [76]:
    #just to see what needs to be cleaned up 
df.sample(20)

df.sample(20)

,Column1,35,RECORD #(BIBLIO),BCODE3,ISN,GOVT DOC #,rec_no,Volume
1127,1127,"ACC-7324,""(OCoLC)14091383"",""(WaOLN)rye0228473""",b12236044,-,0889-8979,NaN,b12236044,"""1986 to v.10 no.4 winter 1995-1996"""
1562,1562,"75120328 //r87,""(OCoLC)1028287"",""(DNLM)A257250...",b12268914,-,0065-9959,NaN,b12268914,""""""
3938,3938,(OCoLC)ocn154220182,b26293493,-,1939-0211 1939-0211,NaN,b26293493,"""1.1 12 2 2015 06"""
5118,5753,NaN,b13527563,-,NaN,NaN,b13527563,"""1987"""
73,73,"22844580,""(WaOLN)rye0214605""",b1208881x,-,NaN,NaN,b1208881x,""""""
571,571,"ABV-7101,""(OCoLC)1645163"",""(WaOLN)rye0227475""",b12226269,-,0094-5404,NaN,b12226269,"""v.3:no.1 (spring 1976) - v.23:no.2 (fall 1996)"""
4658,4370,85327541,b12829043,-,NaN,NaN,b12829043,"""1979"",""1980"",""1981"",""1982"""
6144,3957,NaN,b12594623,-,NaN,NaN,b12594623,"""1995-96"",""1996-97"""
6422,5207,"41486484,""L""",b13237937,-,NaN,NaN,b13237937,"""1997-98"""
4813,3194,"(OCoLC)9315435,""LCMARC/ABY-7819/TECHSERV1"",""(W...",b12357790,-,0739-2141,NaN,b12357790,"""1982"",""1983"",""1995"",""1997"""
3402,3402,"11196478,""(OCoLC)ocm01799886""",b17120561,-,0022-3182 0002-3182,NaN,b17120561,"""v.1:no.2 (fall 1969) - v.33:no.6 (Nov./Dec. 2..."
5195,3678,"(OCoLC)20396989,""LCMARC/AOM-9102/TRICHARD"",""(W...",b12485093,-,0847-0634,NaN,b12485093,"""1988"",""1989"",""1990"",""1991"",""1992"",""1993"",""199..."
7303,10599,"ocm57191619,""(OCoLC)57191619""",b2531483x,-,1494-6505 1494-6505 4,NaN,b2531483x,"""Auction #95-4 to Auction #05-1"""
6170,3686,"(OCoLC)27002066,""LCMARC/ATR-7129/TGALLARD"",""(W...",b12486310,-,NaN,NaN,b12486310,"""1996"""
7082,7457,NaN,b16693693,-,9889853019,NaN,b16693693,"""2005"""
6675,6257,NaN,b1370672x,-,NaN,NaN,b1370672x,"""1999"""
6003,2667,NaN,b12286497,-,NaN,NaN,b12286497,"""1994-95"",""1995-96"",""2006-07"""
3155,3155,"000000130237,""(OCoLC)ocl71916516""",b16733046,-,0008-5200,NaN,b16733046,"""v.86:no.9 (Sept. 1983) - v.92:issue no.10 (Oc..."
401,401,"ABV-9005,""(OCoLC)8040199"",""(WaOLN)rye0227161""",b12223189,-,0744-1193,NaN,b12223189,"""v.5:no.12 (Dec. 1982) - v.19:no.13 (Dec. 1996)"""
1446,1446,"ACR-2207,""(OCoLC)20373105"",""(WaOLN)rye0228981""",b12241003,-,0844-9082,NaN,b12241003,"""v.4 no.9 Sept. 1991 to v.16 no.8 Aug. 2003."""

In [77]:
# regex 
import re

In [166]:
#code to test regex 
test ="9780345811820 (software),0345811828, [$128.95] New York"
print(re.sub(r'\([a-z\s.0-9\[\]]*\)','',test,flags=re.IGNORECASE))
print(re.sub(r'\$[0-9\*\.[0-9]*','',test))

9780345811820 ,0345811828, [$128.95] New York
9780345811820 (software),0345811828, [] New York

In [41]:
# function to clean up ISSN 

def ISSN(i):
    
#remove price ($100.00)
        i=re.sub('\$[0-9]*\.[0-9]*','',i)
#remove (softcover) (pbk.) (New York)
        i=re.sub('\([a-z\s.\[\]]*\)','',i,flags=re.IGNORECASE)
#remove pbk. New York
        i=re.sub('[a-z\s.]*','',i,flags=re.IGNORECASE)
#remove ((pbk.))
        i=re.sub('\(\([a-z]*\s[a-z]*\.\)\)','',i,flags=re.IGNORECASE)
#remove unwanted commas, 
        i=re.sub(r',,','',i,flags=re.IGNORECASE)
    
#remove </td> </tr>
        i=re.sub(r'<[//a-z]>','',i,flags=re.IGNORECASE)

#remove (:)
        i=re.sub('\([:]\)','',i)
# remove unwanted comma at the end 
        i=re.sub(',\Z','',i)

        return i

In [168]:
df['ISN']=df.ISN.astype('str')
df['ISN']=df.ISN.apply(ISSN)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [125]:
df.sample(20)

,Column1,35,RECORD #(BIBLIO),BCODE3,ISN,GOVT DOC #,rec_no,Volume
5299,2308,31892821,b12261646,-,1202-404X,NaN,b12261646,"""1989"",""1991"",""1994"""
5146,2721,26497628,b12289966,-,1187-8894,NaN,b12289966,"""1987"",""1994"""
2361,2361,(OCoLC)36271308,b12589561,-,1183-2878 1204-4229,NaN,b12589561,"""v.1 no.1 (Oct. 1995)-v.15:no.1(Jan./Feb. 20..."
783,783,(OCoLC)1782304,b12230406,-,0022-4545,NaN,b12230406,"""v.68 (1966 ) - v.152 no.6 (Nov./Dec. 2012)"""
3339,3339,"11271633,(OCoLC)ocm09227922",b17047304,-,0745-4929 0191-345X,NaN,b17047304,"""v.5:no.1 (Jan./Feb. 1983) - v.10:no.3 (Mar. 1..."
676,676,(OCoLC)1690883,b12228564,-,0315-2561,NaN,b12228564,"""1978 to v.22 no.4 Dec. 1996."""
1423,1423,(OCoLC)2131585,b12240710,-,0048-7139,NaN,b12240710,"""1969 to v.28 no.4 1998."",""v.6 1981 to v.9 ..."
3935,3935,"3387091,(OCoLC)ocm41261901,(OCoLC)41261901",b25291324,-,1531-6793 1531-6793,NaN,b25291324,"""v.16:no.2(Fal/Win 2014)-"""
873,873,"000022111949,(OCoLC)ocm43834772",b12231873,-,1491-2139,NaN,b12231873,"""1999:summer - v.5:no.1(2003:winter) some issu..."
3529,3529,"11392854,(OCoLC)ocm21359231",b17287820,-,1049-9660,NaN,b17287820,"""v.53:no.2 (Mar. 1991) - v.60:no.3 (Nov. 1994)..."
3891,3891,"ocn638639307,(OCoLC)638639307",b20685294,-,NaN,NaN,b20685294,"""v.38:no217 (February 1943) - v 61:no491 (Dece..."
5797,2403,(OCoLC)29482627,b12269827,-,NaN,NaN,b12269827,"""1993-94"""
4628,5192,(OCoLC)12713297,b13234249,-,NaN,NaN,b13234249,"""1978"",""1979"",""1980"",""1981"",""1982"",""1983"",""198..."
474,474,ocm41930347,b12224480,-,1528-0608 0896-8985,NaN,b12224480,"""no.107(1999:June)-no.311(2016:June)"",""no.107(..."
4089,5848,"C,810150037",b13560682,-,NaN,NaN,b13560682,"""1941"",""1944-45"",""1949"",""1951"",""1952"",""1953"",""..."
3048,3048,ocm55053864,b15690635,-,1550-1906,NaN,b15690635,"""v.1: no.3 ( Feb. 2005) - v.14:no.1 (Winter 20..."
2121,2121,(OCoLC)1553157,b12434462,-,0008-4255,NaN,b12434462,"""v. 8 1954 to v.46 1992. Also available on m..."
7133,3841,(OCoLC)26536124,b12555204,-,"9781943215010 (2016),""9781936335299 (2012)"",""9...",NaN,b12555204,"""2006"",""2008"",""2009"",""2012"",""2016"""
2455,2455,(OCoLC)3658508,b12695397,-,0160-3825,NaN,b12695397,"""v.19:no.1(winter 1997/1998) -"""
56,56,(OCoLC)19830806,b12077604,x,0842-7933,NaN,b12077604,"""Some issues may be missing."""

In [186]:
def clean035(q):
    #remove WaOLN"(WaOLN)rye0053656", with and without ""
    q=re.sub('\"\(WaOLN\)rye[01-9]+\"','',q)
    q=re.sub('\(WaOLN\)rye[0-9]+','',q)
    q=re.sub('\(DNLM\)[0-9\(\)a-z]*','',q,flags=re.IGNORECASE)
    q=re.sub('\.b[0-9]*','',q)
    q=re.sub('LCMARC[a-z-0-9]*','',q,flags=re.IGNORECASE)
    q=re.sub('A[a-z-0-9]*','',q,flags=re.IGNORECASE)
    q=re.sub('U[a-z-0-9]*','',q,flags=re.IGNORECASE)
    q=re.sub('\(SIRSI\)[0-9a-z\-]*','',q,flags=re.IGNORECASE)
    q=re.sub('[a-z][a-z][a-z]-[0-9][0-9][0-9][0-9]','',q,flags=re.IGNORECASE)
    q=re.sub('[\"]*\(CaOTULAS\)[0-9a-z]*[\"]*','',q,flags=re.IGNORECASE)
    q=re.sub('[\"]*cn\s[0-9a-z]*[\"]*','',q,flags=re.IGNORECASE)
    q=re.sub('\sn\s','',q,flags=re.IGNORECASE)
    q=re.sub('\/[\/a-z0-9]*','',q,flags=re.IGNORECASE)
    q=re.sub('\(MN\)','',q,flags=re.IGNORECASE)
    q=re.sub('CL','',q,flags=re.IGNORECASE)
    q=re.sub('DLC[\sa-z0-9]','',q,flags=re.IGNORECASE)
    q=re.sub('sn[\s0-9]*','',q)
    q=re.sub('\,C,','',q)
    q=re.sub('CNMRCT','',q)
    q=re.sub('TRENT','',q)
    q=re.sub('v[\s0-9a-z\(\)]*','',q,flags=re.IGNORECASE)
    q=re.sub('w[\s0-9a-z\(\)]*','',q,flags=re.IGNORECASE)
    q=re.sub('s[\s0-9a-z\(\)]*','',q,flags=re.IGNORECASE)
    q=re.sub('z[\s0-9a-z\(\)]*','',q,flags=re.IGNORECASE)
    q=re.sub('r[\s0-9a-z\(\)]*','',q,flags=re.IGNORECASE)
    q=re.sub('y[\s0-9a-z\(\)]*','',q,flags=re.IGNORECASE)
    q=re.sub('^c[\s0-9a-z]*','',q,flags=re.IGNORECASE)
    q=re.sub('r[\s0-9a-z\(\)]*','',q,flags=re.IGNORECASE)
    q=re.sub('OO','',q)
    q=re.sub('M[\s]*','',q)
    q=re.sub('NYPL','',q)
    q=re.sub('orig[\sa-z0-9]*','',q)
    q=re.sub('LI','',q)
    q=re.sub('ce\s[0-9]*','',q)
    q=re.sub('\"','',q)
    q=re.sub(',,','',q)
    
#remove unnecessary comma at the beginnin
    q=re.sub('^,','',q)
#remove unnecessary comma at the end 
    q=re.sub(',\Z','',q)
    return q

In [150]:
df['35']=df['35'].astype('str')
df['35']=df['35'].apply(clean035)
print('-'*50)
print('Before removing the record without 035')
print('-'*50)
df.info()

df=df[df['35']!='']
print('-'*50)
print("After removing the record without 035")
print('-'*50)
df.info()

--------------------------------------------------
Before removing the record without 035
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7819 entries, 0 to 7818
Data columns (total 6 columns):
35                  7819 non-null object
RECORD #(BIBLIO)    7819 non-null object
BCODE3              7819 non-null object
Volume              7819 non-null object
ISN                 5675 non-null object
GOVT DOC #          393 non-null object
dtypes: object(6)
memory usage: 366.6+ KB
--------------------------------------------------
After removing the record without 035
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7116 entries, 0 to 7818
Data columns (total 6 columns):
35                  7116 non-null object
RECORD #(BIBLIO)    7116 non-null object
BCODE3              7116 non-null object
Volume              7116 non-null object
ISN                 5306 non-null object
GOVT DOC #          321 non-null object
dtypes: object(6)
memory usage: 389.2+ KB

In [121]:
#Test code for 035
test=',0388251,"(WaOLN)rye001,sn 3582225,on258359325"'
#test='n,,"",""'
test=re.sub('\"\(WaOLN\)rye[01-9]+\"','',test)
test=re.sub('^,','',test) 
test=re.sub(',\Z','',test)
test=re.sub('n/s','',test)
test=re.sub('\"','',test)
test=re.sub(',,','',test)
test=re.sub('sn[\s0-9]*','',test)
print(test)
#print(re.sub(r'\z,\z','',test))

0388251,(WaOLN)rye001,,on258359325

In [115]:
# don't need the lambda function anymore 
#035
#mono.ISN=mono.ISN.apply(lambda x: re.sub('\$[0-9]*\.[0-9]*','',x))
#mono.ISN=mono.ISN.apply(lambda x: re.sub('\([a-z\s.]*\)','',x,flags=re.IGNORECASE))
#mono.ISN=mono.ISN.apply(lambda x: re.sub('[a-z\s.]*','',x,flags=re.IGNORECASE))
#mono.ISN=mono.ISN.apply(lambda x: re.sub('\([:]\)','',x))
#mono['35']=mono['35'].apply(lambda x:re.sub(',\Z','',x))

#035
#mono['35']=mono['35'].astype('str')
#mono['35']=mono['35'].apply(lambda x:re.sub('\"\(WaOLN\)rye[01-9]+\"','',x))

In [145]:
#CODE BCODE 3 according to instruction from Hathitrust
df['BCODE3']=df['BCODE3'].replace({'-':'CH','w':'WD'})

In [130]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7128 entries, 0 to 7818
Data columns (total 8 columns):
Column1             7128 non-null int64
35                  7128 non-null object
RECORD #(BIBLIO)    7128 non-null object
BCODE3              7128 non-null object
ISN                 5311 non-null object
GOVT DOC #          324 non-null object
rec_no              7128 non-null object
Volume              7128 non-null object
dtypes: int64(1), object(7)
memory usage: 501.2+ KB

In [151]:
df.columns=['OCLC#',"Partner's Local System ID","Holding Status","Numeration and Chronology","ISSN","Gov Doc Indicator"]

In [155]:
print(df.groupby(['Holding Status'])["Partner's Local System ID"].count())

# only need CH and WD 

df=pd.concat([df[df['Holding Status']=='CH'],df[df['Holding Status']=='WD']])
print(df.groupby(['Holding Status'])["Partner's Local System ID"].count())
print(df.groupby(['Holding Status'])["Partner's Local System ID"].count())

Series([], Name: Partner's Local System ID, dtype: int64)
Series([], Name: Partner's Local System ID, dtype: int64)
Series([], Name: Partner's Local System ID, dtype: int64)

In [153]:
# set np.nan
import numpy as np
df.fillna(value=pd.np.nan, inplace=True)
df=df.replace('', np.nan) 
df.replace('nan',np.nan,inplace=True)

Empty DataFrame
Columns: [OCLC#, Partner's Local System ID, Holding Status, Numeration and Chronology, ISSN, Gov Doc Indicator]
Index: []

In [154]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 6 columns):
OCLC#                        0 non-null object
Partner's Local System ID    0 non-null object
Holding Status               0 non-null object
Numeration and Chronology    0 non-null object
ISSN                         0 non-null object
Gov Doc Indicator            0 non-null object
dtypes: object(6)
memory usage: 0.0+ bytes

In [191]:
df.to_csv('mono20200506.txt', sep='\t', index=False)