In [96]:
import pandas as pd

In [97]:
#files in raw folder

df1=pd.read_csv('raw/print_monograph_hathitrust_20200504-1.txt', sep='\t')
df2=pd.read_csv('raw/print_monograph_hathitrust_20200504-2.txt', sep='\t')
df3=pd.read_csv('raw/print_monograph_hathitrust_20200504-3.txt', sep='\t')

In [98]:
df1=df1[['35','RECORD #(BIBLIO)','BCODE3','VOLUME', 'ISN','GOVT DOC #']]

In [99]:
df1.head(3)

                            35 RECORD #(BIBLIO) BCODE3 VOLUME  ISN GOVT DOC #
0                          NaN        b1000001x      -    NaN  NaN        NaN
1  0179084,"(WaOLN)rye0000002"        b10000021      -    NaN  NaN        NaN
2  0179090,"(WaOLN)rye0000004"        b10000045      -    NaN  NaN        NaN

In [100]:
df2=df2[['35','RECORD #(BIBLIO)','BCODE3','VOLUME', 'ISN','GOVT DOC #']]

In [101]:
df2.head(3)

                            35 RECORD #(BIBLIO) BCODE3 VOLUME  ISN GOVT DOC #
0                          NaN        b1000001x      -    NaN  NaN        NaN
1  0179084,"(WaOLN)rye0000002"        b10000021      -    NaN  NaN        NaN
2  0179090,"(WaOLN)rye0000004"        b10000045      -    NaN  NaN        NaN

In [102]:
df3=df3[['35','RECORD #(BIBLIO)','BCODE3','VOLUME', 'ISN','GOVT DOC #']]

In [103]:
df3.head(3)

,35,RECORD #(BIBLIO),BCODE3,VOLUME,ISN,GOVT DOC #
0,NaN,b20440066,-,NaN,"9781407307213 (pbk.),""1407307215 (pbk.)""",NaN
1,NaN,b20440078,-,NaN,"9780199548088 (pbk.),""0199548080 (pbk.)""",NaN
2,NaN,b2044008x,-,NaN,"0817313893 (cloth : alk. paper),""9780817354909""",NaN

In [104]:
frames = [df1, df2, df3]

df = pd.concat(frames)

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 468932 entries, 0 to 68931
Data columns (total 6 columns):
35                  418989 non-null object
RECORD #(BIBLIO)    468932 non-null object
BCODE3              468932 non-null object
VOLUME              17545 non-null object
ISN                 295788 non-null object
GOVT DOC #          30739 non-null object
dtypes: object(6)
memory usage: 25.0+ MB

In [106]:
    #just to see what needs to be cleaned up 
df.sample(20)

,35,RECORD #(BIBLIO),BCODE3,VOLUME,ISN,GOVT DOC #
35441,yb12206465,b26300047,-,NaN,"9781137432711 hardcover,""1137432713 hardcover""",NaN
21896,"ocm25874519,""(OCoLC)25874519""",b24423324,-,NaN,"9780060165208 (cloth),""0060165200 (cloth)""",NaN
39836,"0687701,""(WaOLN)rye0054356""",b10531130,-,NaN,3787901965,NaN
63616,"on1057376232,""(OCoLC)1057376232 (OCoLC)1057377...",b28825810,-,NaN,"9780252084058 paperback alkaline paper,""025208...",NaN
47686,"0729800,""(WaOLN)rye0064095""",b10625227,-,NaN,"0312927673 (St. Martin's) $45.00,""0865530254""",NaN
111067,"0123249 v.1 225187,""0123252 v.4 225190"",""01232...",b11488694,-,v. 1,v. 2,v. 4
191356,"37954381,""(WaOLN)rye0269866""",b12729917,-,NaN,91801680,NaN
64647,"910978955,""(OCoLC)910978955 (OCoLC)894938056 (...",b28910771,-,NaN,"9781526123039 (paperback),""1526123037 (paperba...",NaN
101088,"0904352,""(WaOLN)rye0138942""",b11345676,-,NaN,0877882509 (pbk.) $7.95,NaN
94193,"0228484,""(WaOLN)rye0131519""",b11272132,-,NaN,0261631721 25,NaN
119234,"0666760,""(WaOLN)rye0166489""",b11614821,-,NaN,0889025916 $25,NaN
72875,"0738138,""(WaOLN)rye0103767""",b10998810,-,NaN,408107820,NaN
138551,"0902598,""(WaOLN)rye0193642""",b11880570,-,NaN,NaN,NaN
2588,"0273212,""(WaOLN)rye0003956""",b10038917,-,NaN,008016711X,NaN
44334,"ocn150448538,""(OCoLC)150448538""",b27034008,-,Binder 46,NaN,NaN
72491,NaN,b10994051,-,NaN,0810903644 $55.00,NaN
75922,"0900058,""(WaOLN)rye0107333""",b11033769,-,NaN,0500274967 (page [4] of cover),NaN
28317,"0373116,""(WaOLN)rye0036313""",b10356873,-,NaN,"0138762198 (pbk.),""0138762279""",NaN
61119,"0244438,""(WaOLN)rye0083390""",b10812970,-,NaN,471460001,NaN
174052,"LCMARC/ASC-7847/ACQ2,""(WaOLN)rye0246198""",b12456822,-,NaN,"1855671093 (pb),""1855671085 (hb)""",NaN

In [107]:
# regex 
import re

In [108]:
#code to test regex 
test ="9780345811820 (software),0345811828, $128.95 New York"
print(re.sub(r'\([a-z\s.]*\)','',test,flags=re.IGNORECASE))
print(re.sub(r'\$[0-9]*\.[0-9]*','',test))

9780345811820 ,0345811828, $128.95 New York
9780345811820 (software),0345811828,  New York

In [109]:
# function to clean up ISSN 

def ISSN(i):
    
#remove price ($100.00)
        i=re.sub('\$[0-9]*\.[0-9]*','',i)
#remove (softcover) (pbk.) (New York)
        i=re.sub('\([a-z\s.]*\)','',i,flags=re.IGNORECASE)
#remove pbk. New York
        i=re.sub('[a-z\s.]*','',i,flags=re.IGNORECASE)
#remove ((pbk.))
        i=re.sub('\(\([a-z]*\s[a-z]*\.\)\)','',i,flags=re.IGNORECASE)
#remove unwanted commas, 
        i=re.sub(r',,','',i,flags=re.IGNORECASE)
#remove (:)
        i=re.sub('\([:]\)','',i)
# remove unwanted comma at the end 
        i=re.sub(',\Z','',i)

        return i

In [110]:
df['ISN']=df.ISN.astype('str')
df['ISN']=df.ISN.apply(ISSN)

In [111]:
df.sample(10)

,35,RECORD #(BIBLIO),BCODE3,VOLUME,ISN,GOVT DOC #
189722,"(OCoLC)31802528,""LCMARC/ATD-9075/TGALLARD"",""(W...",b12709852,-,NaN,094546407,NaN
32591,"0119901,""(WaOLN)rye0043110""",b10423370,-,NaN,,NaN
124083,NaN,b11693770,-,NaN,,NaN
44890,"0774925,""(WaOLN)rye0060495""",b10590201,-,NaN,0566030314£1800,NaN
112259,"0110653,""(WaOLN)rye0155508""",b11507652,-,NaN,,NaN
14332,"ocn801682605,""(OCoLC)801682605""",b22448214,-,NaN,"9781118351093,""1118351096""",NaN
177356,"LCMARC/ALW-6678/VKANNE,""(WaOLN)rye0251780""",b12521541,-,NaN,0826160301,NaN
85819,"0723428,""(WaOLN)rye0121815""",b11175588,-,NaN,,NaN
172806,"ALB/ALU-9334/WCASE,""(WaOLN)rye0244499""",b1243193x,-,NaN,0802077994,NaN
36930,2015023417,b26351213,-,NaN,"9783791354705,""3791354701""",NaN

In [112]:
def clean035(q):
    #remove WaOLN"(WaOLN)rye0053656", with and without ""
    q=re.sub('\"\(WaOLN\)rye[01-9]+\"','',q)
    q=re.sub('\(WaOLN\)rye[01-9]+','',q)
#remove unnecessary comma at the end 
    q=re.sub(',\Z','',q)
    return q

In [113]:
df['35']=df['35'].astype('str')
df['35']=df['35'].apply(clean035)

In [114]:
#Test code for 035
test='0388251,"(WaOLN)rye0019428"'
test=re.sub('\"\(WaOLN\)rye[01-9]+\"','',test)
print(test)
#print(re.sub(r'\z,\z','',test))

0388251,

In [115]:
# don't need the lambda function anymore 
#035
#mono.ISN=mono.ISN.apply(lambda x: re.sub('\$[0-9]*\.[0-9]*','',x))
#mono.ISN=mono.ISN.apply(lambda x: re.sub('\([a-z\s.]*\)','',x,flags=re.IGNORECASE))
#mono.ISN=mono.ISN.apply(lambda x: re.sub('[a-z\s.]*','',x,flags=re.IGNORECASE))
#mono.ISN=mono.ISN.apply(lambda x: re.sub('\([:]\)','',x))
#mono['35']=mono['35'].apply(lambda x:re.sub(',\Z','',x))

#035
#mono['35']=mono['35'].astype('str')
#mono['35']=mono['35'].apply(lambda x:re.sub('\"\(WaOLN\)rye[01-9]+\"','',x))

In [116]:
#CODE BCODE 3 according to instruction from Hathitrust
df['BCODE3']=df['BCODE3'].replace({'-':'CH','w':'WD'})

In [117]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 468932 entries, 0 to 68931
Data columns (total 6 columns):
35                  468932 non-null object
RECORD #(BIBLIO)    468932 non-null object
BCODE3              468932 non-null object
VOLUME              17545 non-null object
ISN                 468932 non-null object
GOVT DOC #          30739 non-null object
dtypes: object(6)
memory usage: 25.0+ MB

In [118]:
df.columns=['OCLC#',"Partner's Local System ID","Holding Status","Numeration and Chronology","ISSN","Gov Doc Indicator"]

In [129]:
print(df.groupby(['Holding Status'])["Partner's Local System ID"].count())

# only need CH and WD 

df=pd.concat([df[df['Holding Status']=='CH'],df[df['Holding Status']=='WD']])
print(df.groupby(['Holding Status'])["Partner's Local System ID"].count())

Holding Status
           1
CH    464251
WD       978
b          9
c        278
f         12
i          5
r        999
s         55
t         14
x       2330
Name: Partner's Local System ID, dtype: int64
Holding Status
CH    464251
WD       978
Name: Partner's Local System ID, dtype: int64

In [122]:
# set np.nan
import numpy as np
df.fillna(value=pd.np.nan, inplace=True)
df=df.replace('', np.nan) 
df.replace('nan',np.nan,inplace=True)

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 465229 entries, 0 to 68778
Data columns (total 6 columns):
OCLC#                        403943 non-null object
Partner's Local System ID    465229 non-null object
Holding Status               465229 non-null object
Numeration and Chronology    17500 non-null object
ISSN                         291645 non-null object
Gov Doc Indicator            30678 non-null object
dtypes: object(6)
memory usage: 24.8+ MB

In [132]:
df.to_csv('mono.csv', sep='\t', index=False)