In [96]:
import pandas as pd

In [184]:
#files in raw folder
df1=pd.read_csv('raw/print_monograph_hathitrust_20200504-1.txt', sep='\t')

In [151]:
df2=pd.read_csv('raw/print_monograph_hathitrust_20200504-2.txt', sep='\t')
df3=pd.read_csv('raw/print_monograph_hathitrust_20200504-3.txt', sep='\t')

In [185]:
df1=df1[['35','RECORD #(BIBLIO)','BCODE3','VOLUME', 'ISN','GOVT DOC #']]

In [147]:
df1.head(3)

,"""035""","""RECORD #(BIBLIO)""","""TITLE""","""BCODE3""","""VOLUME""","""ISN""","""GOVT DOC #"""
0,"""""","""b1000001x""","""Great conversation : the substance of a liber...","""-""","""""","""""",""""""
1,"""0179084"",""(WaOLN)rye0000002""","""b10000021""","""Hippocratic writings / [Translated by Francis...","""-""","""""","""""",""""""
2,"""0179090"",""(WaOLN)rye0000004""","""b10000045""","""Lucretius : On the nature of things / transla...","""-""","""""","""""",""""""

In [145]:
df2=df2[['35','RECORD #(BIBLIO)','BCODE3','VOLUME', 'ISN','GOVT DOC #']]

In [146]:
df2.head(3)

                            35 RECORD #(BIBLIO) BCODE3 VOLUME  ISN GOVT DOC #
0                          NaN        b1000001x      -    NaN  NaN        NaN
1  0179084,"(WaOLN)rye0000002"        b10000021      -    NaN  NaN        NaN
2  0179090,"(WaOLN)rye0000004"        b10000045      -    NaN  NaN        NaN

In [159]:
# run this only for serials 

df=df[['35','RECORD #(BIBLIO)','BCODE3','LIB. HAS','ISN','GOVT DOC #']]

In [160]:
df3=df3[['35','RECORD #(BIBLIO)','BCODE3','VOLUME', 'ISN','GOVT DOC #']]

In [103]:
df3.head(3)

,35,RECORD #(BIBLIO),BCODE3,VOLUME,ISN,GOVT DOC #
0,NaN,b20440066,-,NaN,"9781407307213 (pbk.),""1407307215 (pbk.)""",NaN
1,NaN,b20440078,-,NaN,"9780199548088 (pbk.),""0199548080 (pbk.)""",NaN
2,NaN,b2044008x,-,NaN,"0817313893 (cloth : alk. paper),""9780817354909""",NaN

In [104]:
frames = [df1, df2, df3]

df = pd.concat(frames)

In [161]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3976 entries, 0 to 3975
Data columns (total 6 columns):
35                  3636 non-null object
RECORD #(BIBLIO)    3976 non-null object
BCODE3              3976 non-null object
LIB. HAS            3447 non-null object
ISN                 3524 non-null object
GOVT DOC #          795 non-null object
dtypes: object(6)
memory usage: 186.5+ KB

In [163]:
    #just to see what needs to be cleaned up 
df.sample(20)

,35,RECORD #(BIBLIO),BCODE3,LIB. HAS,ISN,GOVT DOC #
3186,"000000113799,""(OCoLC)ocl71796068""",b16952856,-,v.81:no.1 (Jan./Feb. 1974) - v.90:no.3 (June 1...,0315-6230,NaN
268,"01019172 //r893,""(OCoLC)1761296"",""(WaOLN)rye02...",b12212477,-,v.39(1947)-,0030-2953,NaN
2878,AMP-0262,b13689915,w,1984 to 1993.,0838-2182,63-232
1552,"cn 92083374,""(OCoLC)26776087"",""(WaOLN)rye0231476""",b1226846x,-,v.3: no.1 (spring 1993)- v.5: no.2 (spring/su...,1183-3114,NaN
2427,"ALB/ACC-2841/ACQ5,""(WaOLN)rye0262106""",b12633665,-,v.71 no.1/ 2 1997 to the present.,0028-9930,NaN
3841,"ocm54056097,""(OCoLC)54056097""",b19227826,-,v.47:no.5 (Oct.2003)-v.55:no.4 (Dec.2011),1062-6301,NaN
128,"77643570 //r92,""(OCoLC)3113183"",""(WaOLN)rye021...",b12127280,-,NaN,0251-2920,NaN
3915,"ocn781005593,""(OCoLC)781005593""",b24422964,-,1.1 74- 10- 2013- 10-,0160-6689,NaN
2175,(WaOLN)rye0245202,b12445484,-,1944 to #18 S4 2009.,NaN,NaN
2707,85337770,b13406425,-,issue no.1 (Feb. 1982) - v.2:no.4 (1995),1012-537x 1012-536x,NaN
1811,"93659127,""(OCoLC)28982886"",""(WaOLN)rye0234296""",b1229892x,-,v.3 no.4 autumn 1994 to v.12 no.3 Aug. 2003,1074-407X,NaN
272,"cn 76301112,""(OCoLC)2293931"",""(WaOLN)rye0226166""",b12212519,-,Dec. 1964 to v.56 n.3 Aug./Sept. 2009,0044-5878,NaN
2203,"LCMARC/ABI-1673/TRICHARD,""(OCoLC)2249118"",""(Wa...",b12463085,-,v.12 no.1 1986 to 1988.,0703-6078,NaN
1322,"11375909,""(OCoLC)ocm20456482""",b12239045,-,v.44:no.1 (Sept. 1989) - v.58:issue 1/2 (June ...,0924-2716,NaN
3649,"11305699,""(OCoLC)ocm11998010""",b1748666x,-,issue #294 (Mar. 1985) - issue #306 (Mar. 1986...,0883-234X 0745-080X,NaN
2692,41177577,b13374710,-,1.1 1- 2- 1999- 06-,1229-2370,NaN
3927,"ocn858864734,""(OCoLC)858864734""",b25038254,-,v.93:no.3 (March 2014) -,2331-2793 1,NaN
502,"ABX-1853,""(OCoLC)1792886"",""(WaOLN)rye0227360""",b12225149,-,no.37 (July 1967) - no.362 (Feb./Mar. 2000) so...,0011-0876,NaN
3244,"000031682374,""(OCoLC)ocm61384389""",b16986222,-,NaN,1717-1415,NaN
2599,"(OCoLC)14690884,""(DNLM)8611908(c)"",""(DNLM)SR00...",b13195955,-,v.1 no.1 Aug. 1985 to v.16 no.2 Apr. 2000.,0815-6409,NaN

In [165]:
# regex 
import re

In [166]:
#code to test regex 
test ="9780345811820 (software),0345811828, [$128.95] New York"
print(re.sub(r'\([a-z\s.0-9\[\]]*\)','',test,flags=re.IGNORECASE))
print(re.sub(r'\$[0-9\*\.[0-9]*','',test))

9780345811820 ,0345811828, [$128.95] New York
9780345811820 (software),0345811828, [] New York

In [167]:
# function to clean up ISSN 

def ISSN(i):
    
#remove price ($100.00)
        i=re.sub('\$[0-9]*\.[0-9]*','',i)
#remove (softcover) (pbk.) (New York)
        i=re.sub('\([a-z\s.\[\]]*\)','',i,flags=re.IGNORECASE)
#remove pbk. New York
        i=re.sub('[a-z\s.]*','',i,flags=re.IGNORECASE)
#remove ((pbk.))
        i=re.sub('\(\([a-z]*\s[a-z]*\.\)\)','',i,flags=re.IGNORECASE)
#remove unwanted commas, 
        i=re.sub(r',,','',i,flags=re.IGNORECASE)
    
#remove </td> </tr>
        i=re.sub(r'<[//a-z]>','',i,flags=re.IGNORECASE)

#remove (:)
        i=re.sub('\([:]\)','',i)
# remove unwanted comma at the end 
        i=re.sub(',\Z','',i)

        return i

In [168]:
df['ISN']=df.ISN.astype('str')
df['ISN']=df.ISN.apply(ISSN)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [175]:
df.sample(10)

,35,RECORD #(BIBLIO),BCODE3,LIB. HAS,ISN,GOVT DOC #
1477,"ABX-2427,""(OCoLC)2761141"",""(DNLM)W08170000(s)""",b12241416,-,v.3:no.2 (Feb. 1978) - v.22:no.6 (June 1997) s...,19851990,0145-5761
3449,"11416442,""(OCoLC)ocm14039516""",b17215663,-,v.2:no.1 (spring 1988) - v.15:no.4 (winter 2001),0889-7182,NaN
945,"ABJ-9355,""(OCoLC)3681038""",b12233195,-,v.8:no.4 (Dec.1987) -,0703-1866,NaN
1328,"AAX-5185,""(OCoLC)1585937"",""(DNLM)I19690000(s)""",b12239161,-,"1.1 37-40 1-5 1980-1983 02-10 g,""1.2 41-48 1-2...","1137-401-51980-198302-10,""1241-481-21984-19910...",0020-5745
283,nan,b12215065,-,NaN,0082-0431,NaN
2680,"LCMARC/ABR-5269/ACQ5,""(OCoLC)10554400""",b13302474,-,no.139 (Sept. 1999) - no.154 (spring 2002),0743-1155,NaN
1644,nan,b12281566,x,NaN,1191-16030827-3715,NaN
1896,"(OCoLC)12169008,""LCMARC/ARY-9161/HDZURIS"",""ALB...",b12328522,-,no.1(1985)-no.1(2003),,NaN
2239,"(OCoLC)26341191,""LCMARC/AQH-5744/TRICHARD""",b12475749,-,v.2:no.5 (May 1990) - v.5:no.2 (Apr. 1993) som...,1064-6124,NaN
3264,"000000087772,""(OCoLC)ocl71553138"",""(DNLM)C0402...",b17000634,-,v.13:no.3 (July 1971) - v.19:no.4 (Oct. 1977) ...,0315-5390,NaN

In [172]:
def clean035(q):
    #remove WaOLN"(WaOLN)rye0053656", with and without ""
    q=re.sub('\"\(WaOLN\)rye[01-9]+\"','',q)
    q=re.sub('\(WaOLN\)rye[01-9]+','',q)
#remove unnecessary comma at the end 
    q=re.sub(',\Z','',q)
    return q

In [174]:
df['35']=df['35'].astype('str')
df['35']=df['35'].apply(clean035)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [114]:
#Test code for 035
test='0388251,"(WaOLN)rye0019428"'
test=re.sub('\"\(WaOLN\)rye[01-9]+\"','',test)
print(test)
#print(re.sub(r'\z,\z','',test))

0388251,

In [115]:
# don't need the lambda function anymore 
#035
#mono.ISN=mono.ISN.apply(lambda x: re.sub('\$[0-9]*\.[0-9]*','',x))
#mono.ISN=mono.ISN.apply(lambda x: re.sub('\([a-z\s.]*\)','',x,flags=re.IGNORECASE))
#mono.ISN=mono.ISN.apply(lambda x: re.sub('[a-z\s.]*','',x,flags=re.IGNORECASE))
#mono.ISN=mono.ISN.apply(lambda x: re.sub('\([:]\)','',x))
#mono['35']=mono['35'].apply(lambda x:re.sub(',\Z','',x))

#035
#mono['35']=mono['35'].astype('str')
#mono['35']=mono['35'].apply(lambda x:re.sub('\"\(WaOLN\)rye[01-9]+\"','',x))

In [176]:
#CODE BCODE 3 according to instruction from Hathitrust
df['BCODE3']=df['BCODE3'].replace({'-':'CH','w':'WD'})

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [177]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3976 entries, 0 to 3975
Data columns (total 6 columns):
35                  3976 non-null object
RECORD #(BIBLIO)    3976 non-null object
BCODE3              3976 non-null object
LIB. HAS            3447 non-null object
ISN                 3976 non-null object
GOVT DOC #          795 non-null object
dtypes: object(6)
memory usage: 186.5+ KB

In [178]:
df.columns=['OCLC#',"Partner's Local System ID","Holding Status","Numeration and Chronology","ISSN","Gov Doc Indicator"]

In [179]:
print(df.groupby(['Holding Status'])["Partner's Local System ID"].count())

# only need CH and WD 

df=pd.concat([df[df['Holding Status']=='CH'],df[df['Holding Status']=='WD']])
print(df.groupby(['Holding Status'])["Partner's Local System ID"].count())

Holding Status
CH    3786
WD      39
c       82
s        4
x       65
Name: Partner's Local System ID, dtype: int64
Holding Status
CH    3786
WD      39
Name: Partner's Local System ID, dtype: int64

In [180]:
# set np.nan
import numpy as np
df.fillna(value=pd.np.nan, inplace=True)
df=df.replace('', np.nan) 
df.replace('nan',np.nan,inplace=True)

In [182]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3825 entries, 0 to 3362
Data columns (total 6 columns):
OCLC#                        3478 non-null object
Partner's Local System ID    3825 non-null object
Holding Status               3825 non-null object
Numeration and Chronology    3413 non-null object
ISSN                         3450 non-null object
Gov Doc Indicator            790 non-null object
dtypes: object(6)
memory usage: 209.2+ KB

In [183]:
df.to_csv('serial.csv', sep='\t', index=False)